<!DOCTYPE html>
<html>
<head>
  <title>iPhone 价格走势</title>
  <meta charset="UTF-8">
  <link href="static/prices.css" rel="stylesheet">
  <style>
    * {margin: 0; padding: 0;}
    body {
      padding: 20px 0;
      font-family: PingFangSC-Light, Microsoft YaHei, arial, sans-serif;
    }
    h2 {
      width: 1000px;
      margin: 0 auto 30px;
      text-align: center;
    }
    .hide {display: none;}
    .el-row {
      width: 1000px;
      line-height: 36px;
      margin: 0 auto 10px;
    }
    .el-tag  {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .select-spec-panel {
      border-bottom: 1px solid #CCC;
      background-color: #FFF;
    }
    #priceChart {
      width: 1000px;
      margin: 30px auto 10px;
    }
  </style>
  <script src="static/prices.js"></script>
</head>
<body>
  <h2>2017.10 - 2017.12 苹果团 iPhone 价格走势</h2>
  <div class="select-spec">
    <el-row>
      <el-col :offset="2">
        <el-button plain size="medium" type="primary" @click="toggleSelect">
          <span v-show="!showSelect">开始选择</span>
          <span v-show="showSelect">收起选择</span>
        </el-button>
      </el-col>
    </el-row>
    <div v-if="dataLoadFinished && showSelect" class="select-spec-panel">
      <el-row v-if="specMap.region">
        <el-col :span="2">
          <span class="label">地区：</span>
        </el-col>
        <el-col :span="22">
          <el-radio-group v-model="selectedSpec.region" size="medium" @change="(label) => {selectSpec(label, 'region')}">
            <el-radio-button v-for="item in specMap.region" :key="item" :label="item"></el-radio-button>
          </el-radio-group>
        </el-col>
      </el-row>
      <el-row v-if="specMap.name">
        <el-col :span="2">
          <span class="label">机型：</span>
        </el-col>
        <el-col :span="22">
          <el-radio-group v-model="selectedSpec.name" size="medium" @change="(label) => {selectSpec(label, 'name')}">
            <el-radio-button v-for="item in specMap.name" :key="item" :label="item"></el-radio-button>
          </el-radio-group>
        </el-col>
      </el-row>
      <el-row v-if="specMap.color">
        <el-col :span="2">
          <span class="label">颜色：</span>
        </el-col>
        <el-col :span="22">
          <el-radio-group v-model="selectedSpec.color" size="medium" @change="(label) => {selectSpec(label, 'color')}">
            <el-radio-button v-for="item in specMap.color" :key="item" :label="item"></el-radio-button>
          </el-radio-group>
        </el-col>
      </el-row>
      <el-row v-if="specMap.capacity">
        <el-col :span="2">
          <span class="label">容量(G)：</span>
        </el-col>
        <el-col :span="22">
          <el-radio-group v-model="selectedSpec.capacity" size="medium" @change="(label) => {selectSpec(label, 'capacity')}">
            <el-radio-button v-for="item in specMap.capacity" :key="item" :label="item"></el-radio-button>
          </el-radio-group>
        </el-col>
      </el-row>
      <el-row v-if="Object.keys(selectedSpec).every((spec) => !!selectedSpec[spec])">
        <el-col :offset="2">
          <el-button plain size="medium" type="primary" @click="confirmSpec">确定</el-button>
          <el-button plain size="medium" @click="resetSpec">重置</el-button>
        </el-col>
      </el-row>
    </div>
  </div>

  <div class="selected-specs">
    <el-row>
      <el-col :span="2">
        已选：
      </el-col>
      <el-col v-show="specs.length" :span="22">
        <el-tag
          v-for="item in specs"
          :key="item.label"
          disable-transitions
          closable
          @close="removeSpec(item.label)"
        >
          {{item.label}}
        </el-tag>
      </el-col>
      <el-col v-show="!specs.length" :span="22">无</el-col>
    </el-row>
    <el-row>
      <el-col :span="2">
        时间：
      </el-col>
      <el-col :span="22">
        <el-date-picker
          class="price-date-picker"
          v-model="dateRange"
          type="daterange"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="pickerOptions"
          @change="changeDateRange"
        >
        </el-date-picker>
      </el-col>
    </el-row>
  </div>

  <div id="priceChart"></div>

  <script>
    const jsonFile = 'static/prices';
    const priceModel = new PriceModel();
    const priceChart = new PriceChart({
      id: 'priceChart'
    });

    const SELECT_SPEC_APP = new Vue({
      el: '.select-spec',

      data: {
        specData: [],
        specMap: {},
        specOrder: ['region', 'name', 'color', 'capacity'],

        dataLoadFinished: false,
        showSelect: false,

        selectedSpec: {
          region: null,
          name: null,
          color: null,
          capacity: null
        }
      },

      created () {
        this.fetchPriceData();
      },

      methods: {
        fetchPriceData () {
          priceModel.fetchPriceData({
            lastOne: true,
            jsonFile
          }).then((json) => {
            if (json.rows.length) {
              let priceData = json.rows;
              this.specData = priceModel.getSpecData(priceData);
              this.specMap = priceModel.getSpecMap(this.specData, this.specOrder, this.selectedSpec);
              this.dataLoadFinished = true;
            }
          });
        },

        toggleSelect () {
          this.showSelect = !this.showSelect;

          if (!this.showSelect) this.resetSpec();
        },

        selectSpec (specValue, specKey) {
          let specIndex = this.specOrder.indexOf(specKey);

          this.specMap = priceModel.getSpecMap(this.specData, this.specOrder, this.selectedSpec);
          this.specOrder.forEach((spec, index) => {
            if (index <= specIndex) return;
            if (xd.hasObjKey(this.specMap, spec) && this.specMap[spec].includes(this.selectedSpec[spec])) {}
            else this.selectedSpec[spec] = null;
          })
        },

        confirmSpec () {
          SELECTED_SPECS_APP.addSpec(xd.cloneObj(this.selectedSpec), this.specOrder);
        },

        resetSpec () {
          xd.forEachObj(this.selectedSpec, (specValue, specKey) => {
            this.selectedSpec[specKey] = null;
          });

          this.specMap = priceModel.getSpecMap(this.specData, this.specOrder, this.selectedSpec);
        }
      }
    });

    const pickerShortcutsData = [
      {text: '10月-12月', start: 1506787200, end: 1514735999},
      {text: '10月', start: 1506787200, end: 1509465599},
      {text: '11月', start: 1509465600, end: 1512057599},
      {text: '12月', start: 1512057600, end: 1514735999},
    ];

    const SELECTED_SPECS_APP = new Vue({
      el: '.selected-specs',

      data: {
        specs: [],
        dateRange: null,
        pickerOptions: {
          shortcuts: pickerShortcutsData.map((data) => {
            return {
              text: data.text,
              onClick(picker) {
                let start = new Date(data.start * 1000);
                let end = new Date(data.end * 1000);
                picker.$emit('pick', [start, end]);
              }
            }
          })
        }
      },

      methods: {
        addSpec (spec, order) {
          spec.label = order.map((s) => {
            let unit;

            switch (s) {
              case 'capacity':
                unit = 'G';
                break;

              default:
                unit = '';
            }

            return `${spec[s]}${unit}`;
          }).join(' ');

          if (!this.specs.find((s) => s.label === spec.label)) this.specs.push(spec);

          this.updateChart();
        },

        removeSpec (specLabel) {
          this.specs.forEach((spec, index) => {
            if (spec.label === specLabel) this.specs.splice(index, 1);
          });
          this.updateChart();
        },

        changeDateRange () {
          this.updateChart();
        },

        updateChart () {
          if (this.specs.length && this.dateRange) {
            priceModel.fetchPriceData({
              startDate: moment(this.dateRange[0]).format('YYYY-MM-DD'),
              endDate: moment(this.dateRange[1]).format('YYYY-MM-DD'),
              jsonFile
            }).then((json) => {
              if (json.rows.length) {
                let priceData = json.rows;
                let chartData = [];
                let chartFields = [];

                priceData.forEach((data) => {
                  let piece = {date: data.id};

                  data.value.forEach((d) => {
                    let matched = this.specs.find((spec) => {
                      return (
                        spec.region === d.region &&
                        spec.name === d.name &&
                        spec.color === d.color &&
                        spec.capacity === d.capacity
                      );
                    });

                    if (!matched) return;
                    if (!chartFields.includes(matched.label)) chartFields.push(matched.label);

                    piece[matched.label] = d.price;
                  });

                  chartData.push(piece);
                });

                priceChart.update({
                  data: chartData,
                  fields: chartFields
                });
              }
            })
          } else {
            priceChart.clear();
          }
        }
      }
    });
  </script>
</body>
</html>
